# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode/*

# SWP
*.swp

# BUILD
build/*

# Protobuf & gRPC helpers
src/proto/Cisco/*.cc
src/proto/Cisco/*.h
src/proto/Huawei/*.cc
src/proto/Huawei/*.h
src/proto/Juniper/*
!src/proto/Juniper/README.md

# BIN
bin/mdt_dialout_collector

# YouCompleteMe
.cache/*
compile_commands.json

