# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSCode
.vscode/*

# SWP
*.swp

# BUILD
build/*

# Protobuf & gRPC helpers
src/proto/Cisco/*.cc
src/proto/Cisco/*.h
src/proto/Huawei/*.cc
src/proto/Huawei/*.h
src/proto/Juniper/*.cc
src/proto/Juniper/*.h
src/proto/OpenConfig/*.cc
src/proto/OpenConfig/*.h

# BIN
bin/mdt_dialout_collector
bin/pmtelemetryd
bin/zmq_pull

# YouCompleteMe
.cache/*
compile_commands.json

# CSV
csv/*.csv

# Autotools
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
*aclocal.m4

Makefile.in
Makefile
.deps
.libs
autom4te.cache
config.*
configure
install-sh
ltmain.sh
missing
depcomp
libtool
compile
m4
ar-lib
test-driver

/build-*
/build/*

proto/.proto_mark

!.gitignore
!.travis.yml
